In [1]:
import requests
import json
import numpy as np

In [2]:
import json
import requests
from collections import defaultdict

In [4]:
from lxml import html
import pandas as pd

In [5]:
df =pd.read_csv("altmetricIDS.csv", header=None)

In [6]:
df.columns = ['Altmetrics_Id']
df.head()

   Altmetrics_Id
0         702709
1         403270
2        2394296
3         632123
4         411425

In [7]:
df["youtube_links"] = ""
df.head()

   Altmetrics_Id youtube_links
0         702709
1         403270
2        2394296
3         632123
4         411425

In [8]:
ids = np.array(df['Altmetrics_Id'])
ids[0]

702709

In [9]:
def add_video(alt_id):
    try:
        response = requests.get("https://api.altmetric.com/v1/id/" + str(alt_id))
        if 'video' in dict(json.loads(response.content)):
            return dict(json.loads(response.content))['video']
    except:
        return ''

In [10]:
type(ids[1])

numpy.int64

In [1]:
from bs4 import BeautifulSoup
for i in range(len(ids[:100])):
    html = requests.get('https://www.altmetric.com/details/' + str(ids[i]) + '/video').text
    bs = BeautifulSoup(html)
    possible_links = bs.find_all('a')
    for link in possible_links:
        if link.has_attr('href') and 'youtube' in link.attrs['href']:
            df.iloc[i, 1]= link.attrs['href']
            break

NameError: name 'ids' is not defined

In [12]:
df[90:100]

    Altmetrics_Id                                youtube_links
90        1139197  https://www.youtube.com/watch?v=0DsiP9Iefbw
91        1487498  https://www.youtube.com/watch?v=efuTMPXrT6w
92       29271525  https://www.youtube.com/watch?v=EUR3FCqh4PQ
93        7086992  https://www.youtube.com/watch?v=FlQbUeJIgp8
94         130816  https://www.youtube.com/watch?v=AxuyU6X834A
95        1391907  https://www.youtube.com/watch?v=iEeFC9Jg-ZA
96         102093  https://www.youtube.com/watch?v=pUMGvzEZzQo
97         177895  https://www.youtube.com/watch?v=hNs2hy0jjM4
98       23649493  https://www.youtube.com/watch?v=4XvvgqVUKqk
99        1529096  https://www.youtube.com/watch?v=74KSbibyA3c

In [13]:
url_statistics = "https://www.googleapis.com/youtube/v3/videos?part=statistics&" + key "&id="

In [14]:
for i in range(len(ids[:100])):
    video_id = df.loc[i, "youtube_links"][32:]
    link = url_statistics + video_id
    #print(link)
    response_statistics = requests.get(link)
    if (response_statistics.status_code == 200):
        json_statistics = json.loads(response_statistics.text)
        for j in ['viewCount', 'likeCount', 'dislikeCount', 'commentCount']:
            try:
                df.loc[i, j] = json_statistics['items'][0]["statistics"][j]
            except KeyError:
                df.loc[i, j] = 0
            except IndexError:
                df.loc[i, j] = 0
df.head()

,Altmetrics_Id,youtube_links,viewCount,likeCount,dislikeCount,commentCount
0,702709,https://www.youtube.com/watch?v=GSqdhz--yR8,3505,94,9,20
1,403270,https://www.youtube.com/watch?v=2iqRF6mWj-A,29315,982,291,1011
2,2394296,https://www.youtube.com/watch?v=j8eAMWh9UC8,60347,5708,103,1542
3,632123,https://www.youtube.com/watch?v=GpfLHrtdcS4,62,4,0,1
4,411425,https://www.youtube.com/watch?v=2iqRF6mWj-A,29315,982,291,1011

In [16]:
df[90:100]

,Altmetrics_Id,youtube_links,viewCount,likeCount,dislikeCount,commentCount
90,1139197,https://www.youtube.com/watch?v=0DsiP9Iefbw,101,7,0,2
91,1487498,https://www.youtube.com/watch?v=efuTMPXrT6w,7287,397,85,244
92,29271525,https://www.youtube.com/watch?v=EUR3FCqh4PQ,28,0,0,0
93,7086992,https://www.youtube.com/watch?v=FlQbUeJIgp8,132,17,1,1
94,130816,https://www.youtube.com/watch?v=AxuyU6X834A,6834,692,9,158
95,1391907,https://www.youtube.com/watch?v=iEeFC9Jg-ZA,2281,444,0,184
96,102093,https://www.youtube.com/watch?v=pUMGvzEZzQo,5657,516,37,225
97,177895,https://www.youtube.com/watch?v=hNs2hy0jjM4,4018,196,1,29
98,23649493,https://www.youtube.com/watch?v=4XvvgqVUKqk,1077,11,3,3
99,1529096,https://www.youtube.com/watch?v=74KSbibyA3c,0,0,0,0

In [17]:
social_media_columns = ['cited_by_fbwalls_count', 'cited_by_gplus_count', 'cited_by_msm_count', 'cited_by_posts_count', 
                        'cited_by_tweeters_count', 'cited_by_videos_count', 'cited_by_wikipedia_count', 
                        'cited_by_accounts_count',]

In [18]:
for i in range(len(ids[:100])):
    rs = requests.get("https://api.altmetric.com/v1/id/" + str(ids[i]))
    if (rs.status_code == 200):
        rs_json = json.loads(rs.text)
        for col in social_media_columns:
            try:
                df.loc[i, col] = rs_json[col]
            except KeyError:
                df.loc[i, col] = 0

In [20]:
df[60:80]

,Altmetrics_Id,youtube_links,viewCount,likeCount,dislikeCount,commentCount,cited_by_fbwalls_count,cited_by_gplus_count,cited_by_msm_count,cited_by_posts_count,cited_by_tweeters_count,cited_by_videos_count,cited_by_wikipedia_count,cited_by_accounts_count
60,4386122,https://www.youtube.com/watch?v=Q8OLM9kh4uI,4073,262,8,5,106.0,25.0,78.0,1956.0,1368.0,54.0,5.0,1652.0
61,176473,https://www.youtube.com/watch?v=IEId1Oo5vHw,23070,2244,59,202,22.0,2.0,8.0,232.0,107.0,41.0,2.0,187.0
62,4175407,https://www.youtube.com/watch?v=Q8OLM9kh4uI,4073,262,8,5,53.0,3.0,31.0,552.0,283.0,52.0,6.0,441.0
63,829180,https://www.youtube.com/watch?v=XHZzZ1LnGYI,1587,80,12,16,155.0,23.0,2.0,716.0,350.0,23.0,0.0,560.0
64,553797,https://www.youtube.com/watch?v=mOX90SRa0rE,33,6,0,1,20.0,2.0,8.0,174.0,69.0,40.0,1.0,147.0
65,218016,https://www.youtube.com/watch?v=i4F5TdlRSSE,12,1,0,0,43.0,2.0,15.0,552.0,336.0,45.0,3.0,454.0
66,29322872,https://www.youtube.com/watch?v=RaSzagzteIU,405,9,11,2,55.0,7.0,2.0,193.0,38.0,52.0,3.0,157.0
67,6798615,https://www.youtube.com/watch?v=-MeMoT3jX5g,6,0,0,0,1.0,1.0,0.0,227.0,17.0,1.0,0.0,20.0
68,21093339,https://www.youtube.com/watch?v=Oxf5MLipdxQ,166,3,0,0,0.0,0.0,0.0,59.0,3.0,1.0,0.0,4.0
69,21051540,https://www.youtube.com/watch?v=hNs2hy0jjM4,4018,196,1,29,116.0,6.0,6.0,1556.0,951.0,21.0,0.0,1106.0
70,510712,https://www.youtube.com/watch?v=y3EUG4ivY_M,235857,9834,131,1207,45.0,1.0,9.0,417.0,227.0,48.0,2.0,338.0
71,1311539,https://www.youtube.com/watch?v=av9cPojcz2Y,0,0,0,0,10.0,7.0,1.0,101.0,21.0,21.0,1.0,61.0
72,204439,https://www.youtube.com/watch?v=MZPFNujNXYQ,107749,5876,302,1120,17.0,1.0,54.0,209.0,61.0,44.0,0.0,180.0
73,873631,https://www.youtube.com/watch?v=AMuSsWbWJq0,128772,8620,709,3056,23.0,4.0,4.0,271.0,132.0,34.0,1.0,209.0
74,960498,https://www.youtube.com/watch?v=DRKDexxjTDU,1021,108,3,16,9.0,2.0,2.0,102.0,26.0,38.0,0.0,79.0
75,28859927,https://www.youtube.com/watch?v=EUR3FCqh4PQ,28,0,0,0,2.0,5.0,3.0,475.0,407.0,50.0,0.0,467.0
76,910478,https://www.youtube.com/watch?v=xk9YnsWYkZw,1989,73,3,4,34.0,4.0,3.0,239.0,106.0,39.0,1.0,190.0
77,649475,https://www.youtube.com/watch?v=ToN46wf2aCs,31,4,0,0,158.0,20.0,34.0,1295.0,693.0,42.0,0.0,962.0
78,57129333,https://www.youtube.com/watch?v=guid1kNxu1s,1,0,0,0,0.0,0.0,0.0,52.0,0.0,1.0,0.0,1.0
79,15064534,https://www.youtube.com/watch?v=e4HWKVQlLe0,0,0,0,0,0.0,0.0,0.0,52.0,0.0,1.0,0.0,1.0

In [31]:
cols = ['title', 'doi']

In [32]:
for i in range(len(ids[:100])):
    rs = requests.get("https://api.altmetric.com/v1/id/" + str(ids[i]))
    if (rs.status_code == 200):
        rs_json = json.loads(rs.text)
        for col in cols:
            try:
                df.loc[i, col] = rs_json[col]
            except KeyError:
                df.loc[i, col] = 0

In [35]:
df = df.drop("subjects", axis =1)
df.head()

,Altmetrics_Id,youtube_links,viewCount,likeCount,dislikeCount,commentCount,cited_by_fbwalls_count,cited_by_gplus_count,cited_by_msm_count,cited_by_posts_count,cited_by_tweeters_count,cited_by_videos_count,cited_by_wikipedia_count,cited_by_accounts_count,title,doi
0,702709,https://www.youtube.com/watch?v=GSqdhz--yR8,3505,94,9,20,31.0,16.0,1.0,934.0,11.0,13.0,2.0,74.0,HLA genes in Macedonians and the sub-Saharan o...,10.1034/j.1399-0039.2001.057002118.x
1,403270,https://www.youtube.com/watch?v=2iqRF6mWj-A,29315,982,291,1011,9.0,2.0,1.0,699.0,98.0,58.0,2.0,174.0,Optimal low-density lipoprotein is 50 to 70 mg/dl,10.1016/j.jacc.2004.03.046
2,2394296,https://www.youtube.com/watch?v=j8eAMWh9UC8,60347,5708,103,1542,115.0,5.0,37.0,1211.0,376.0,54.0,2.0,599.0,"Beyond Meatless, the Health Effects of Vegan D...",10.3390/nu6062131
3,632123,https://www.youtube.com/watch?v=GpfLHrtdcS4,62,4,0,1,62.0,83.0,1.0,1036.0,169.0,48.0,0.0,365.0,Twenty questions on atherosclerosis,0
4,411425,https://www.youtube.com/watch?v=2iqRF6mWj-A,29315,982,291,1011,23.0,8.0,8.0,896.0,333.0,27.0,1.0,410.0,Low-carbohydrate diets and all-cause and cause...,10.1059/0003-4819-153-5-201009070-00003

In [38]:
df[:100].to_csv(path_or_buf = ".\\sample_dataset.csv", index=False)

In [43]:
url = "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet&videoId=fb7V4Z6Hzwo&" + key

In [44]:
response = requests.get(url)
print(response.status_code)

200

In [45]:
json_data = json.loads(response.text)
json_data.keys()

dict_keys(['kind', 'etag', 'pageInfo', 'items'])

In [ ]:
json_data['pageInfo']

In [46]:
lc = 0
dc = 0
for j in len(json_data['items']):
    lc + = json_data['items'][j]["likeCount"]
    dc + = json_data['items'][j]["likeCount"]

[{'kind': 'youtube#commentThread',
  'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/1665E_9SuSD3cYWCdfH7DLVjaVk"',
  'id': 'UgyS54gYa9klT_ZLL7V4AaABAg',
  'snippet': {'videoId': 'fb7V4Z6Hzwo',
   'topLevelComment': {'kind': 'youtube#comment',
    'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/uyQP4kH0Lko-BGFHphb7qZ9er58"',
    'id': 'UgyS54gYa9klT_ZLL7V4AaABAg',
    'snippet': {'authorDisplayName': 'Tome Stojanovski',
     'authorProfileImageUrl': 'https://yt3.ggpht.com/-jUSEfor4waE/AAAAAAAAAAI/AAAAAAAAAAA/HviCyWxfITM/s28-c-k-no-mo-rj-c0xffffff/photo.jpg',
     'authorChannelUrl': 'http://www.youtube.com/channel/UCPvGpvJoVs1cHFtEGDXhCWQ',
     'authorChannelId': {'value': 'UCPvGpvJoVs1cHFtEGDXhCWQ'},
     'videoId': 'fb7V4Z6Hzwo',
     'textDisplay': 'HLA genes in Macedonians and the sub-Saharan origin of the Greeks.<br /><br />Arnaiz-Villena A, et al. Tissue Antigens. 2001.<br /><br />Show full citation<br /><br />Abstract<br /><br />HLA alleles have been determined in individuals from the Republic of Macedonia by DNA typing and sequencing. HLA-A, -B, -DR, -DQ allele frequencies and extended haplotypes have been for the first time determined and the results compared to those of other Mediterraneans, particularly with their neighbouring Greeks. Genetic distances, neighbor-joining dendrograms and correspondence analysis have been performed. The following conclusions have been reached: 1) Macedonians belong to the &quot;older&quot; Mediterranean substratum, like Iberians (including Basques), North Africans, Italians, French, Cretans, Jews, Lebanese, Turks (Anatolians), Armenians and Iranians, 2) Macedonians are not related with geographically close Greeks, who do not belong to the &quot;older&quot; Mediterranenan substratum, 3) Greeks are found to have a substantial relatedness to sub-Saharan (Ethiopian) people, which separate them from other Mediterranean groups. Both Greeks and Ethiopians share quasi-specific DRB1 alleles, such as *0305, *0307, *0411, *0413, *0416, *0417, *0420, *1110, *1112, *1304 and *1310. Genetic distances are closer between Greeks and Ethiopian/sub-Saharan groups than to any other Mediterranean group and finally Greeks cluster with Ethiopians/sub-Saharans in both neighbour joining dendrograms and correspondence analyses. The time period when these relationships might have occurred was ancient but uncertain and might be related to the displacement of Egyptian-Ethiopian people living in pharaonic Egypt.',
     'textOriginal': 'HLA genes in Macedonians and the sub-Saharan origin of the Greeks.\n\nArnaiz-Villena A, et al. Tissue Antigens. 2001.\n\nShow full citation\n\nAbstract\n\nHLA alleles have been determined in individuals from the Republic of Macedonia by DNA typing and sequencing. HLA-A, -B, -DR, -DQ allele frequencies and extended haplotypes have been for the first time determined and the results compared to those of other Mediterraneans, particularly with their neighbouring Greeks. Genetic distances, neighbor-joining dendrograms and correspondence analysis have been performed. The following conclusions have been reached: 1) Macedonians belong to the "older" Mediterranean substratum, like Iberians (including Basques), North Africans, Italians, French, Cretans, Jews, Lebanese, Turks (Anatolians), Armenians and Iranians, 2) Macedonians are not related with geographically close Greeks, who do not belong to the "older" Mediterranenan substratum, 3) Greeks are found to have a substantial relatedness to sub-Saharan (Ethiopian) people, which separate them from other Mediterranean groups. Both Greeks and Ethiopians share quasi-specific DRB1 alleles, such as *0305, *0307, *0411, *0413, *0416, *0417, *0420, *1110, *1112, *1304 and *1310. Genetic distances are closer between Greeks and Ethiopian/sub-Saharan groups than to any other Mediterranean group and finally Greeks cluster with Ethiopians/sub-Saharans in both neighbour joining dendrograms and correspondence analyses. The time period when these relationships might have occurred was ancient but uncertain and might be related to the displacement of Egyptian-Ethiopian people living in pharaonic Egypt.',
     'canRate': True,
     'viewerRating': 'none',
     'likeCount': 0,
     'publishedAt': '2018-04-22T14:50:46.000Z',
     'updatedAt': '2018-04-22T14:50:46.000Z'}},
   'canReply': True,
   'totalReplyCount': 0,
   'isPublic': True}},
 {'kind': 'youtube#commentThread',
  'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/9DTzqEWdWb8TNTBgYBBPAKv-ROQ"',
  'id': 'UgxkCh3xOSMCWdebzKl4AaABAg',
  'snippet': {'videoId': 'fb7V4Z6Hzwo',
   'topLevelComment': {'kind': 'youtube#comment',
    'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/RM6gIfu98vsLAiLeYyC7gFd-EqU"',
    'id': 'UgxkCh3xOSMCWdebzKl4AaABAg',
    'snippet': {'authorDisplayName': 'Обединета Македонија',
     'authorProfileImageUrl': 'https://yt3.ggpht.com/-kTu6iCQPyDc/AAAAAAAAAAI/AAAAAAAAAAA/CV3W5apGqPg/s28-c-k-no-mo-rj-c0xffffff/photo.jpg',
     'authorChannelUrl': 'http://www.youtube.com/channel/UCNKXaDPcOrWm91WAnDnmV4Q',
     'authorChannelId': {'value': 'UCNKXaDPcOrWm91WAnDnmV4Q'},
     'videoId': 'fb7V4Z6Hzwo',
     'textDisplay': 'Macedonia Forever',
     'textOriginal': 'Macedonia Forever',
     'canRate': True,
     'viewerRating': 'none',
     'likeCount': 1,
     'publishedAt': '2018-02-21T15:59:29.000Z',
     'updatedAt': '2018-02-21T15:59:29.000Z'}},
   'canReply': True,
   'totalReplyCount': 0,
   'isPublic': True}},
 {'kind': 'youtube#commentThread',
  'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/_2Fr-ThGBWqQRHqB6KK4_SS2vZ0"',
  'id': 'UgwSJ3Jd8YOXtFntcSh4AaABAg',
  'snippet': {'videoId': 'fb7V4Z6Hzwo',
   'topLevelComment': {'kind': 'youtube#comment',
    'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/pZMe9sDIOS2KmZtTcfNPw6E2zMA"',
    'id': 'UgwSJ3Jd8YOXtFntcSh4AaABAg',
    'snippet': {'authorDisplayName': 'KingOfMacedon',
     'authorProfileImageUrl': 'https://yt3.ggpht.com/-BcfqbWgX_54/AAAAAAAAAAI/AAAAAAAAAAA/31mGq8dRNQE/s28-c-k-no-mo-rj-c0xffffff/photo.jpg',
     'authorChannelUrl': 'http://www.youtube.com/channel/UCeR5SYY_WIAtCrtfYilePMA',
     'authorChannelId': {'value': 'UCeR5SYY_WIAtCrtfYilePMA'},
     'videoId': 'fb7V4Z6Hzwo',
     'textDisplay': 'This music has nothing to do with Macedonian culture <br />This is a joke',
     'textOriginal': 'This music has nothing to do with Macedonian culture \nThis is a joke',
     'canRate': True,
     'viewerRating': 'none',
     'likeCount': 0,
     'publishedAt': '2017-08-02T09:58:58.000Z',
     'updatedAt': '2017-08-02T09:58:58.000Z'}},
   'canReply': True,
   'totalReplyCount': 0,
   'isPublic': True}},
 {'kind': 'youtube#commentThread',
  'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/eBYeeHcZHIci2g-8Ioqu2XSqja0"',
  'id': 'UgxNG_QsA9br7fv3Bq54AaABAg',
  'snippet': {'videoId': 'fb7V4Z6Hzwo',
   'topLevelComment': {'kind': 'youtube#comment',
    'etag': '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/Wkva4b-a5XLvLgmRv3Qtv2lkDlg"',
    'id': 'UgxNG_QsA9br7fv3Bq54AaABAg',
    'snippet': {'authorDisplayName': 'KingOfMacedon',
     'authorProfileImageUrl': 'https://yt3.ggpht.com/-BcfqbWgX_54/AAAAAAAAAAI/AAAAAAAAAAA/31mGq8dRNQE/s28-c-k-no-mo-rj-c0xffffff/photo.jpg',
     'authorChannelUrl': 'http://www.youtube.com/channel/UCeR5SYY_WIAtCrtfYilePMA',
     'authorChannelId': {'value': 'UCeR5SYY_WIAtCrtfYilePMA'},
     'videoId': 'fb7V4Z6Hzwo',
     'textDisplay': 'What&#39;s with the Arabian music poor choice of music',
     'textOriginal': "What's with the Arabian music poor choice of music",
     'canRate': True,
     'viewerRating': 'none',
     'likeCount': 0,
     'publishedAt': '2017-08-02T09:58:17.000Z',
     'updatedAt': '2017-08-02T09:58:17.000Z'}},
   'canReply': True,
   'totalReplyCount': 0,
   'isPublic': True}}]

In [ ]:
# add author information
def add_all_info(alt_id):
    # create the dict
    result = defaultdict(dict)
    try:
        # make the request
        response = requests.get("https://api.altmetric.com/v1/id/" + str(alt_id))

        # add the values to the dict
        if 'authors' in dict(json.loads(response.content)):
            result['author_count'] = len(dict(json.loads(response.content))['authors'])
            result['authors'] = ', '.join(dict(json.loads(response.content))['authors'])
        else:
            result['author_count'] = ''
            result['authors'] = ''

         # add the values to the dict
        if 'doi' in dict(json.loads(response.content)):
            result['doi'] = dict(json.loads(response.content))['doi']
        else:
            result['doi'] = ''

        # add the abstract
        if 'abstract' in dict(json.loads(response.content)):
            result['abstract'] = dict(json.loads(response.content))['abstract']
        else:
            result['abstract'] = ''

        # add the pubdate
        if 'published_on' in dict(json.loads(response.content)):
            result['pub_date'] = dict(json.loads(response.content))['published_on']
        else:
            result['pub_date'] = ''

        # add the twitter posts count as of 2018/19
        if 'cited_by_tweeters_count' in dict(json.loads(response.content)):
            result['twitter_count_y18'] = dict(json.loads(response.content))['cited_by_tweeters_count']
        else:
            result['twitter_count_y18'] = ''

        # add the title of the article
        if 'title' in dict(json.loads(response.content)):
            result['title'] =  dict(json.loads(response.content))['title']
        else:
            result['title'] = ''

        # return the result
        return result
    except:
        return result

In [ ]:
r = add_all_info(702709 )

In [ ]:
r.keys()

In [39]:
rs_ = requests.get("https://api.altmetric.com/v1/id/" + str(2394296))

In [40]:
rs_js = json.loads(rs_.text)

In [41]:
rs_js.keys()

dict_keys(['title', 'doi', 'pmid', 'tq', 'altmetric_jid', 'issns', 'journal', 'cohorts', 'abstract', 'abstract_source', 'context', 'authors', 'type', 'altmetric_id', 'schema', 'is_oa', 'publisher_subjects', 'cited_by_fbwalls_count', 'cited_by_feeds_count', 'cited_by_gplus_count', 'cited_by_msm_count', 'cited_by_posts_count', 'cited_by_rdts_count', 'cited_by_tweeters_count', 'cited_by_videos_count', 'cited_by_wikipedia_count', 'cited_by_accounts_count', 'last_updated', 'score', 'history', 'url', 'added_on', 'published_on', 'subjects', 'readers', 'readers_count', 'images', 'details_url'])

In [42]:
rs_js['cited_by_accounts_count']

599

In [36]:
rs_js['cited_by_videos_count']

13

In [ ]:
response_statistics = requests.get(url_statistics)
print(response.status_code)

In [ ]:
json_statistics = json.loads(response_statistics.text)
json_statistics.keys()

In [ ]:
json_statistics['items']